<!DOCTYPE html>
<c.css lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bookplanet</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="static/css/employe.css">
</head>
<style>
    *{
        color: black;
    }
.gap{
    width:90% ;
    justify-content: space-between;
}
.flx{
    display: flex;

}
.enav{
    border-bottom: 1px solid grey;
    padding: 20px 20px;
}

</style>
<body>
    <nav class="enav">
        <div class="flx">
        <div class="gap">
    <a href="/logoutFun" class="btnn">back</a>
            </div>
        <div>
            <a href="/logoutFun" class="btnn">home</a>
        </div>
    </div>

    </nav>
    <div class="mc">
        <h1>welcome admin</h1>
    <a href="/department" class="btnn"> departments </a>
    <a href="/viewEmp" class="btnn"> employe</a>
    </div>
</body>
</html>